.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

.header a {
  transition: 0.5s ease all;
  margin: 10px;
  color: white;
}

.header img {
  width: 25px;
  margin: 0 5px;
}

.change {
  display: flex;
  align-items: center;
}

.activo,
.header a:hover {
  background: var(--azul);
  padding: 10px;
  border-radius: 20px;
}

.logo {
  font-size: 30px;
  margin: 0 20px;
}

.social {
  font-size: 25px;
}

.social i {
  margin: 5px;
}
