@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap");

:root {
  --blanco: #ffff;
  --noche-clara: #15202b;
  --noche-clarac: #28323bcf;
  --noche-oscura: #000000;
  --azul: #1da1f2;
  --amarillo: #ffad1f;
  --rosado: #e0245e;
  --purpura: #794bc4;
  --verde: #17bf63;
  --naranja: #f45d22;
  --shadow: 0 0 15px #ffff;
}

html,
body {
  background: var(--noche-clara);
  color: white;
  padding: 40px 20px 0;
  /* padding: 0; */
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.carousel__indicadores .glider-dot {
  display: block;
  /* width: 30px;
  height: 4px; */
  background: #fff;
  opacity: 0.2;
  margin: 10px;
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

.pushbar_overlay {
  /* background: #3c3442; */
  background: #343b42;
}

.algo {
}
